/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 31, 2015, 3:16:25 PM
    Author     : Working
*/
@import url(http://fonts.googleapis.com/css?family=Jura);
body{
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
    background-image: -webkit-gradient(linear,  0% 50%,  100% 50%,  color-stop(0%,  rgba(2, 178, 237, 0.13)),  color-stop(100%,  rgba(2, 178, 237, 0.27)));
    background-image: -webkit-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: -moz-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: -o-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: linear-gradient(left,  rgba(2, 178, 237, 0.13), rgba(2, 178, 237, 0.27));
    font-family: 'Jura', sans-serif;
    position: relative;

}

.row{
    margin-bottom: 10px;
}

.title{
    width: 100%;
    border-bottom: solid 1px rgba(0,255,255,0.8);
    padding-bottom: 3%;
    color: rgba(0,255,255,0.8);
    margin-bottom: 5px;
    font-size: 250%;
}

.main-title{
    width: 100%;
    text-align: center;
    color: rgba(0,255,255,0.8);
    margin-bottom: 5px;
    font-size: 400%;
}

.sub-title{
    width: 100%;
    color: rgba(0,255,255,0.8);
    margin-bottom: 10px;
    font-size: 150%;
    text-align: left;
    padding-left: 20px;
}

.not-found{
    width: 100%;
    margin-bottom: 10px;
    font-size: 125%;
    text-align: center;
    padding-left: 30%;
    line-height: 100px;
}

.sub-title-2{
    width: 100%;
    color: rgba(0,255,255,0.8);
    margin-bottom: 5px;
    font-size: 170%;
    text-align: left;
    border-bottom: solid 1px rgba(0,255,255,0.8);
    padding-bottom: 1%;
}

.text{ text-align: right;}

.box-1{
    width: 100%;
    background: rgba(23,32,38,1);
    font-size: 200%;
    color: #fff;
    border-bottom: solid 2px rgba(0,255,255,0.8);
}

#hmp{
    width: 100%;
    height: 100%;
    color: #12ace0;
    text-transform: uppercase;
    font-size: 44%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #111;
    background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    background-size:50px 50px;
    position: relative;
    z-index: 50;
}

.logo{
    width: 100%;
    border-top: solid 2px rgba(0,255,255,0.8);
    border-bottom: solid 2px rgba(0,255,255,0.8);
    padding: 3%;
}

.logo img{
    width: 100%;
}

#clock{font-size: 550%;}

#middle{ padding-bottom: 8%; position: relative; z-index: 0;}
#map{margin-top: 2%;}

#live-ticker{

    height: 180px;
    background: rgba(255,255,255,0.1);
    border: solid 1px rgba(255,255,255,0.3);
    overflow: hidden;
    font-size: 200%;
    color: #fff;
    text-align: center;
}

#live-ticker th{
    text-align: center;
    font-weight: bold;
}

#tray{
    z-index: 100;
    width: 100%;
    height: 95%;
    top:-95%;
    background: rgba(0,0,0,0.8);
    position: absolute;
    border-bottom: solid 1px rgba(0,255,255,0.8);
}

#trigger{
    padding: 10px;
    position: absolute;
    bottom: -41px;
    left: 50%;
    color: #fff;
    background: rgba(0,0,0,0.5);
    border: solid 1px rgba(0,255,255,0.8);
    border-top: none;
    cursor: pointer;
}

.btn{
    background: rgba(0,255,255,0.2);
    border: none;
    color: #fff;
    padding: 6px;
}

.btn:hover, .btn:focus{
    color: rgba(0,255,255,0.9);
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.active{color: rgba(0,255,255,0.9);}

#chart-container{
    width: 110%; 
    background: 'transparent';
    position: absolute;
    bottom: 0px;
    color: #fff;
    font-size: 200%;
    border: none;
}

.flot-text, .flot-overlay{color: #fff!important;}

.modal-content{
    background: linear-gradient(to bottom, rgba(0, 88, 108, 0.9), rgba(0, 57, 58, 0.9)); 
    color: #fff;
    border: rgba(0,255,255,0.9);
}

.modal-lg{
    width: 80%;
}

.chart-modal{
    width: 430px; 
    height: 100px; 
    margin-bottom: 20px;
}

#malware-list{
    overflow: auto;
    height: 155px;
}

.modal-header{
    border-bottom: 1px solid rgba(0, 255, 255, 0.4);
}

.modal-footer{
    border-top: 1px solid rgba(0, 255, 255, 0.4);
}

.legendLabel{
    color: white;
}

.legendColorBox{
    background: transparent;
}

.modal-title{
    font-family: 'Jura', sans-serif;
}

.vir-table {
    color: white;
}

.support {
    font-size: 16px;
}

.loading-ajax {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

#world-map-container {
    height:400px;
    position: relative;
    margin-bottom: 100px;
}

#indo-map {
    height:400px;
    position: relative;
    margin-bottom: 100px;
}

#top-attacker {
    color: #FFF;
    margin-bottom: 0px;
}

.sub-main-title{
    width: 100%;
    text-align: center;
    color: rgba(0,255,255,0.8);
    margin-bottom: 5px;
    font-size: 200%;
}

#digital-date {
    font-size: 280%;
}

.modalSeranganMasuk {
    font-size: 90%;
}

.jvectormap-zoomin, .jvectormap-zoomout {
    font-size: 20px;
    width: 20px !important;
    height: 20px !important;
}

.jvectormap-zoomout {
    padding-top: 5px !important;
    top: 40px !important;
}

#wordcloud-container:hover {
    cursor: pointer;
}

#top-malware-chart > .legend > table {
    top: -10px !important;
}

.curved-line-attack {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 3s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}