* {
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100%;
    height: 100%}
#debug {
    display: block !important;
    color: #fff;
    background-color: #454849;
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 99;
    padding: 1px 2px;
    font: 9px 'Arial'}
.i-sprite, .i-as, .i-dj, .i-dn, .i-ec, .i-fs, .i-g, .i-gn, .i-hc, .i-o, .i-os, .i-ra, .i-t, .i-to, .i-up {
    background: url(/cyber-map/i-s0640300945.png) no-repeat;
}
.i-as {
    background-position: 0 -260px;
}
.i-dj {
    background-position: 0 -304px;
}
.i-dn {
    background-position: 0 -88px;
}
.i-ec {
    background-position: 0 -436px;
}
.i-fs {
    background-position: 0 -480px;
}
.i-g {
    background-position: 0 -44px;
}
.i-gn {
    background-position: 0 -392px;
}
.i-hc {
    background-position: 0 -216px;
}
.i-o {
    background-position: 0 -600px;
}
.i-os {
    background-position: 0 -348px;
}
.i-ra {
    background-position: 0 -524px;
}
.i-t {
    background-position: 0 -568px;
}
.i-to {
    background-position: 0 0;
}
.i-up {
    background-position: 0 -152px;
}
@font-face {
    font-family: 'wau';
    src: url(/cyber-map/waukegan_ldo-webfont.eot);
    src: url(/cyber-map/waukegan_ldo-webfont.eot?#iefix) format("embedded-opentype"), url(/cyber-map/waukegan_ldo-webfont.woff) format("woff"), url(/cyber-map/waukegan_ldo-webfont.ttf) format("truetype"), url(/cyber-map/waukegan_ldo-webfont.svg#waukegan_ldoregular) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'waub';
    src: url(/cyber-map/waukegan_ldo_bold-webfont.eot);
    src: url(/cyber-map/waukegan_ldo_bold-webfont.eot?#iefix) format("embedded-opentype"), url(/cyber-map/waukegan_ldo_bold-webfont.woff) format("woff"), url(/cyber-map/waukegan_ldo_bold-webfont.ttf) format("truetype"), url(/cyber-map/waukegan_ldo_bold-webfont.svg#waukegan_ldobold) format("svg");
    font-weight: normal;
    font-style: normal;
}
body {
    background-color: #000;
}
textarea:focus, input:focus, *:focus {
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
li {
    display: list-item;
    list-style: none outside none;
}
#unsupported {
    display: none;
    font-family: 'wau',  'Arial';
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: white;
}
#wp {
    font-family: 'wau',  'Arial';
    background-color: transparent;
    cursor: default;
    width: 100%;
    height: 100%}
#wp #too-small, #wp #tmap, #wp #map, #wp #ct, #wp #fs, #wp #industries, #wp #al, #wp #counter, #wp #title, #wp #tr, #wp #ogw, #wp #tgw, #wp #trend {
    display: none;
}
#wp #top10industries {
    width: 100%;
    height: 90%}
#wp #trend h1, #wp #industries h1 {
    color: #12ace0;
    text-transform: uppercase;
    font-size: 44%;
    padding: 3px 9px 1px;
    background-image: -webkit-gradient(linear,  0% 50%,  100% 50%,  color-stop(0%,  rgba(2, 178, 237, 0.13)),  color-stop(100%,  rgba(2, 178, 237, 0.27)));
    background-image: -webkit-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: -moz-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: -o-linear-gradient(left,  rgba(2, 178, 237, 0.13),  rgba(2, 178, 237, 0.27));
    background-image: linear-gradient(left,  rgba(2, 178, 237, 0.13), rgba(2, 178, 237, 0.27));
}
#wp #trend h1 span, #wp #industries h1 span {
    font: 62% 'waub',  'arial';
    letter-spacing: 1px;
    margin-left: 8px;
}
#wp #trend #aptTrend, #wp #industries #aptTrend {
    width: 100%;
    height: 100%}
#wp #counter .time h1 {
    font-size: 80%;
    border-top: 2px solid #12ace0;
    padding: 5px 0 0;
}
#wp #counter .time h2 {
    font-size: 100%;
    color: #fff;
    font-family: 'waub',  'arial';
    letter-spacing: 2px;
}
#wp #counter .attacks-counts {
    border-top: 2px solid #12ace0;
    position: relative;
}
#wp #counter .attacks-counts h1 {
    font-size: 42%;
    font-family: 'waub',  'arial';
    padding: 5px 0 2px;
}
#wp #counter .attacks-counts h2 {
    font-size: 56%;
    color: #fff;
    font-family: 'waub',  'arial';
    letter-spacing: 1px;
}
#wp .globe h1 {
    font-size: 58%;
    border-top: 2px solid #12ace0;
    padding-top: 5px;
}
#wp .globe h2 {
    font-size: 32%;
    font-family: 'waub',  'arial';
    color: #09516a;
}
#wp .globe h3 {
    font: 30% 'waub',  'arial';
    font-weight: normal;
    color: #09516a;
}
#tt {
    position: fixed;
    left: -10px;
    overflow: hidden;
    z-index: -15;
    width: 0;
}
div, h1, h2, h3, h4, a, p, span {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}
#tmap {
    position: fixed;
    top: 0;
    margin-top: 0;
    z-index: 1;
}
#too-short {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-color: rgba(0, 9, 10, 0.85);
    z-index: -2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition-duration: 0.78s;
    -moz-transition-duration: 0.78s;
    -o-transition-duration: 0.78s;
    transition-duration: 0.78s;
}
#too-short p {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -60px;
    width: 100%;
    height: 30px;
    color: #12ace0;
    font-size: 30px;
    text-align: center;
}
#too-short .i-up, #too-short .i-dn {
    width: 168px;
    height: 64px;
    position: fixed;
    left: 50%;
    margin-left: -84px;
}
@media only screen and (max-width: 799px) {
    #wp {
    display: block !important;
}
#wp #too-small {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
}
#wp #too-small p {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -15px;
    width: 100%;
    height: 30px;
    color: #12ace0;
    font-size: 30px;
    text-align: center;
}
}@media only screen and (min-width: 800px) and (max-width: 1322px) and (max-height: 542px),  only screen and (min-width: 1323px) and (max-width: 1599px) and (max-height: 648px),  only screen and (min-width: 1600px) and (max-height: 846px) {
    #wp #too-short {
    z-index: 2;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    -webkit-transition-duration: 0.37s;
    -moz-transition-duration: 0.37s;
    -o-transition-duration: 0.37s;
    transition-duration: 0.37s;
}
#wp #pb, #wp #ogw, #wp #tgw, #wp #trend, #wp #al, #wp #industries {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
}
#wp #fs {
    display: block;
    top: 53% !important;
}
}@media only screen and (min-width: 800px) and (max-width: 1322px) {
    #wp {
    display: block !important;
    color: #1096c4;
    font-size: 28px;
}
#wp #lit {
    position: fixed;
    display: block;
    color: white;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    z-index: 15;
    color: #595959;
}
#wp #fs {
    height: 29px;
    width: 206px;
    background-color: #d82435;
    ;
    position: fixed;
    top: 93%;
    left: 50%;
    margin-left: -103px;
    color: #ffc8d2;
    z-index: 99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp #fs:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #fs h1 {
    font-size: 15px;
    padding: 7px 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
#wp #too-short .i-up {
    top: 20px;
}
#wp #too-short .i-dn {
    bottom: 20px;
}
#wp #tt {
    width: 1px;
}
#wp .title h1 {
    color: #fff;
    width: 360px;
    position: fixed;
    top: 79.6px;
    left: 50%;
    margin-left: -180px;
    margin-bottom: 48px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 118%;
    letter-spacing: 2px;
    text-shadow: #ace5f8 0px 2px 14px;
}
#wp #tmap, #wp #map, #wp .world-map {
    width: 1024px;
    height: 576px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -512px;
    margin-top: -288px;
    background-color: transparent;
}
#wp .world-map {
    background: transparent url(/cyber-map/world-s1.png) no-repeat scroll;
}
#wp #logo-wrapper {
    letter-spacing: 1px;
    width: 182px;
    height: 120px;
    position: fixed;
    left: 10px;
    top: 10px;
    text-align: left;
}
#wp #logo-wrapper a:active, #wp #logo-wrapper a:visited, #wp #logo-wrapper a:link {
    text-decoration: none;
}
#wp #logo-wrapper a:hover {
    text-decoration: underline;
}
#wp #logo-wrapper .hr {
    border-top: 2px solid #12ace0;
}
#wp #logo-wrapper #logo {
    background-image: url(/cyber-map/logo-white.png);
    width: 160px;
    height: 46px;
    background-size: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
}
#wp #logo-wrapper #signup {
    padding-top: 10px;
    float: left;
    font-size: 42%}
#wp #logo-wrapper #signup a {
    color: white;
    z-index: 100;
}
#wp #logo-wrapper #signup a:hover {
    text-decoration: none;
}
#wp #logo-wrapper #share {
    border-top: 2px solid #12ace0;
    padding-top: 5px;
}
#wp #logo-wrapper #share ul li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
    padding-right: 10px;
}
#wp #logo-wrapper #share #gplus {
    background-image: url(/cyber-map/gplus.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #twitter {
    background-image: url(/cyber-map/twitter.png);
    background-size: 100%;
    width: 32px;
    height: 32px;
}
#wp #logo-wrapper #share #facebook {
    background-image: url(/cyber-map/facebook.svg);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #linkedin {
    background-image: url(/cyber-map/linkedin.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #counter {
    font-weight: bold;
    width: 156px;
    height: 120px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-align: right;
    text-transform: uppercase;
}
#wp #industries {
    width: 34%;
    height: 124px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}
#wp #al {
    left: 50%;
    margin-left: -180px;
    width: 360px;
    border-top: 2px solid #12ace0;
    height: 59.6px;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 10px;
}
#wp #al #log {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    color: #0d81a7;
    text-transform: uppercase;
}
#wp #al #log div {
    font: 34% 'waub',  'arial';
    line-height: 100%;
    padding-bottom: 2px;
}
#wp #al #log .apt {
    color: #ff8300;
}
#wp #ogw {
    left: 10px;
}
#wp #tgw {
    left: 190px;
}
#wp #pb a {
    position: fixed;
    bottom: 136px;
    right: 10px;
    display: block;
    font-size: 50%}
#wp #pb a:link, #wp #pb a:visited {
    color: #12ace0;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    text-decoration: none;
}
#wp #pb a:hover {
    color: #0e88b1;
    text-decoration: underline;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp .globe {
    width: 154px;
    height: 210px;
    position: fixed;
    bottom: 10px;
    text-transform: uppercase;
    text-align: right;
}
#wp .globe .targets, #wp .globe .origins {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 5px;
}
#wp .globe #targetsGlobe, #wp .globe #originsGlobe {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 150px;
    height: 150px;
}
#wp .globe .disk {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 150px;
    height: 150px;
    border: 3px solid rgba(1, 89, 119, 0.33);
    background-color: transparent;
    background-image: -webkit-gradient(radial,  75px 75px,  0,  75px 75px,  75,  color-stop(66.66667%,  transparent),  color-stop(100%,  rgba(0, 0, 0, 0.51)));
    background-image: -webkit-radial-gradient(75px 75px,  transparent 50px,  rgba(0, 0, 0, 0.51) 75px);
    background-image: -moz-radial-gradient(75px 75px,  transparent 50px,  rgba(0, 0, 0, 0.51) 75px);
    background-image: -o-radial-gradient(75px 75px,  transparent 50px,  rgba(0, 0, 0, 0.51) 75px);
    background-image: radial-gradient(75px 75px,  transparent 50px, rgba(0, 0, 0, 0.51) 75px);
    -webkit-border-radius: 75px;
    -moz-border-radius: 75px;
    -ms-border-radius: 75px;
    -o-border-radius: 75px;
    border-radius: 75px;
}
#wp .btn {
    background-color: #d82435;
    ;
    color: #ffc8d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    padding: 7px 12px;
}
#wp .btn:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #industry {
    padding-left: 54px;
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    border-top: 2px solid #12ace0;
}
#wp #industry h1 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 68%;
    position: relative;
    top: 15px;
}
#wp #industry .icon {
    width: 44px;
    height: 44px;
    top: -7px;
    left: -54px;
    position: absolute;
}
#wp #tr {
    position: fixed;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
    text-align: right;
    width: 366px;
}
#wp #tr h2 {
    font-size: 60%;
    font-weight: lighter;
    padding-top: 46px;
}
#wp #tr h3 {
    font-size: 44%;
    font-weight: lighter;
}
#wp #tr #tlevel {
    width: 98px;
    position: absolute;
    right: 0;
    top: 80px;
}
#wp #tr #tlevel h4 {
    font-size: 38%;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 5px 0 0 -35px;
}
#wp #tr li {
    position: relative;
    margin-top: 1px;
    padding: 5px 4px 3px 10%;
    text-align: left;
    font-size: 44%;
    font-weight: normal;
    color: #09516a;
    border: 1px solid #053444;
    background-color: #031b23;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}
#wp #tr label {
    margin-right: 10%;
    font-weight: bold;
}
#wp #tr .fire {
    font-weight: bold;
}
#wp #tr #level1.fire {
    color: #fff;
    background-color: #c71c2d;
    border: 1px solid #c71c2d;
}
#wp #tr #level2.fire {
    color: #fff4ef;
    background-color: #c95b31;
    border: 1px solid #c95b31;
}
#wp #tr #level3.fire {
    color: #6a0914;
    background-color: #ecab4e;
    border: 1px solid #ecab4e;
}
#wp #tr #level4.fire {
    color: #fff;
    background-color: #2994ae;
    border: 1px solid #2994ae;
}
#wp #tr #level5.fire {
    color: #015977;
    background-color: #8ecddd;
    border: 1px solid #8ecddd;
}
#wp #counter, #wp #title, #wp #tr, #wp #fs, #wp #tmap, #wp #map, #wp #ogw, #wp #al, #wp #industries {
    display: block;
}
}@media only screen and (min-width: 1323px) and (max-width: 1599px) {
    #wp {
    display: block !important;
    color: #1096c4;
    font-size: 36px;
}
#wp #lit {
    position: fixed;
    display: block;
    color: white;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    z-index: 15;
    color: #595959;
}
#wp #fs {
    height: 29px;
    width: 206px;
    background-color: #d82435;
    ;
    position: fixed;
    top: 93%;
    left: 50%;
    margin-left: -103px;
    color: #ffc8d2;
    z-index: 99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp #fs:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #fs h1 {
    font-size: 15px;
    padding: 7px 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
#wp #too-short .i-up {
    top: 20px;
}
#wp #too-short .i-dn {
    bottom: 20px;
}
#wp #tt {
    width: 2px;
}
#wp .title h1 {
    color: #fff;
    width: 460px;
    position: fixed;
    top: 89.2px;
    left: 50%;
    margin-left: -230px;
    margin-bottom: 64.5px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 118%;
    letter-spacing: 2px;
    text-shadow: #ace5f8 0px 2px 14px;
}
#wp #tmap, #wp #map, #wp .world-map {
    width: 1440px;
    height: 810px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -720px;
    margin-top: -405px;
    background-color: transparent;
}
#wp .world-map {
    background: transparent url(/cyber-map/world-s2.png) no-repeat scroll;
}
#wp #logo-wrapper {
    letter-spacing: 1px;
    width: 231.0px;
    height: 120px;
    position: fixed;
    left: 10px;
    top: 10px;
    text-align: left;
}
#wp #logo-wrapper a:active, #wp #logo-wrapper a:visited, #wp #logo-wrapper a:link {
    text-decoration: none;
}
#wp #logo-wrapper a:hover {
    text-decoration: underline;
}
#wp #logo-wrapper .hr {
    border-top: 2px solid #12ace0;
}
#wp #logo-wrapper #logo {
    background-image: url(/cyber-map/logo-white.png);
    width: 180px;
    height: 51.75px;
    background-size: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
}
#wp #logo-wrapper #signup {
    padding-top: 10px;
    float: left;
    font-size: 42%}
#wp #logo-wrapper #signup a {
    color: white;
    z-index: 100;
}
#wp #logo-wrapper #signup a:hover {
    text-decoration: none;
}
#wp #logo-wrapper #share {
    border-top: 2px solid #12ace0;
    padding-top: 5px;
}
#wp #logo-wrapper #share ul li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
    padding-right: 10px;
}
#wp #logo-wrapper #share #gplus {
    background-image: url(/cyber-map/gplus.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #twitter {
    background-image: url(/cyber-map/twitter.png);
    background-size: 100%;
    width: 32px;
    height: 32px;
}
#wp #logo-wrapper #share #facebook {
    background-image: url(/cyber-map/facebook.svg);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #linkedin {
    background-image: url(/cyber-map/linkedin.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #counter {
    font-weight: bold;
    width: 198px;
    height: 120px;
    position: fixed;
    right: 10px;
    top: 10px;
    text-align: right;
    text-transform: uppercase;
}
#wp #industries {
    width: 34%;
    height: 165px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.45);
}
#wp #al {
    left: 50%;
    margin-left: -230px;
    width: 460px;
    border-top: 2px solid #12ace0;
    height: 69.2px;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 10px;
}
#wp #al #log {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-left: 10px;
    color: #0d81a7;
    text-transform: uppercase;
}
#wp #al #log div {
    font: 34% 'waub',  'arial';
    line-height: 100%;
    padding-bottom: 2px;
}
#wp #al #log .apt {
    color: #ff8300;
}
#wp #ogw {
    left: 10px;
}
#wp #tgw {
    left: 215px;
}
#wp #pb a {
    position: fixed;
    bottom: 177px;
    right: 10px;
    display: block;
    font-size: 50%}
#wp #pb a:link, #wp #pb a:visited {
    color: #12ace0;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    text-decoration: none;
}
#wp #pb a:hover {
    color: #0e88b1;
    text-decoration: underline;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp .globe {
    width: 179px;
    height: 245px;
    position: fixed;
    bottom: 10px;
    text-transform: uppercase;
    text-align: right;
}
#wp .globe .targets, #wp .globe .origins {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 5px;
}
#wp .globe #targetsGlobe, #wp .globe #originsGlobe {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 175px;
    height: 175px;
}
#wp .globe .disk {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 175px;
    height: 175px;
    border: 3px solid rgba(1, 89, 119, 0.33);
    background-color: transparent;
    background-image: -webkit-gradient(radial,  87.5px 87.5px,  0,  87.5px 87.5px,  87.5,  color-stop(66.66667%,  transparent),  color-stop(100%,  rgba(0, 0, 0, 0.51)));
    background-image: -webkit-radial-gradient(87.5px 87.5px,  transparent 58.33333px,  rgba(0, 0, 0, 0.51) 87.5px);
    background-image: -moz-radial-gradient(87.5px 87.5px,  transparent 58.33333px,  rgba(0, 0, 0, 0.51) 87.5px);
    background-image: -o-radial-gradient(87.5px 87.5px,  transparent 58.33333px,  rgba(0, 0, 0, 0.51) 87.5px);
    background-image: radial-gradient(87.5px 87.5px,  transparent 58.33333px, rgba(0, 0, 0, 0.51) 87.5px);
    -webkit-border-radius: 87.5px;
    -moz-border-radius: 87.5px;
    -ms-border-radius: 87.5px;
    -o-border-radius: 87.5px;
    border-radius: 87.5px;
}
#wp .btn {
    background-color: #d82435;
    ;
    color: #ffc8d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    padding: 7px 12px;
}
#wp .btn:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #industry {
    padding-left: 54px;
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    border-top: 2px solid #12ace0;
}
#wp #industry h1 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 68%;
    position: relative;
    top: 15px;
}
#wp #industry .icon {
    width: 44px;
    height: 44px;
    top: -7px;
    left: -54px;
    position: absolute;
}
#wp #tr {
    position: fixed;
    top: 10px;
    right: 10px;
    text-transform: uppercase;
    text-align: right;
    width: 486px;
}
#wp #tr h2 {
    font-size: 60%;
    font-weight: lighter;
    padding-top: 54px;
}
#wp #tr h3 {
    font-size: 44%;
    font-weight: lighter;
}
#wp #tr #tlevel {
    width: 118px;
    position: absolute;
    right: 0;
    top: 98px;
}
#wp #tr #tlevel h4 {
    font-size: 38%;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 5px 0 0 -35px;
}
#wp #tr li {
    position: relative;
    margin-top: 1px;
    padding: 5px 4px 3px 10%;
    text-align: left;
    font-size: 44%;
    font-weight: normal;
    color: #09516a;
    border: 1px solid #053444;
    background-color: #031b23;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}
#wp #tr label {
    margin-right: 10%;
    font-weight: bold;
}
#wp #tr .fire {
    font-weight: bold;
}
#wp #tr #level1.fire {
    color: #fff;
    background-color: #c71c2d;
    border: 1px solid #c71c2d;
}
#wp #tr #level2.fire {
    color: #fff4ef;
    background-color: #c95b31;
    border: 1px solid #c95b31;
}
#wp #tr #level3.fire {
    color: #6a0914;
    background-color: #ecab4e;
    border: 1px solid #ecab4e;
}
#wp #tr #level4.fire {
    color: #fff;
    background-color: #2994ae;
    border: 1px solid #2994ae;
}
#wp #tr #level5.fire {
    color: #015977;
    background-color: #8ecddd;
    border: 1px solid #8ecddd;
}
#wp #counter, #wp #title, #wp #tr, #wp #al, #wp #tmap, #wp #map, #wp #ogw, #wp #tgw, #wp #industries {
    display: block;
}
}@media only screen and (min-width: 1600px) {
    #wp {
    display: block !important;
    color: #1096c4;
    font-size: 44px;
}
#wp #lit {
    position: fixed;
    display: block;
    color: white;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    z-index: 15;
    color: #595959;
}
#wp #fs {
    height: 29px;
    width: 206px;
    background-color: #d82435;
    ;
    position: fixed;
    top: 93%;
    left: 50%;
    margin-left: -103px;
    color: #ffc8d2;
    z-index: 99;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp #fs:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #fs h1 {
    font-size: 15px;
    padding: 7px 12px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}
#wp #too-short .i-up {
    top: 40px;
}
#wp #too-short .i-dn {
    bottom: 40px;
}
#wp #tt {
    width: 3px;
}
#wp .title h1 {
    color: #fff;
    width: 520px;
    position: fixed;
    top: 128.8px;
    left: 50%;
    margin-left: -260px;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 118%;
    letter-spacing: 2px;
    text-shadow: #ace5f8 0px 2px 14px;
}
#wp #tmap, #wp #map, #wp .world-map {
    width: 1920px;
    height: 1080px;
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -960px;
    margin-top: -540px;
    background-color: transparent;
}
#wp .world-map {
    background: transparent url(/cyber-map/world-s3.png) no-repeat scroll;
}
#wp #logo-wrapper {
    letter-spacing: 1px;
    width: 317.8px;
    height: 134px;
    position: fixed;
    left: 20px;
    top: 20px;
    text-align: left;
}
#wp #logo-wrapper a:active, #wp #logo-wrapper a:visited, #wp #logo-wrapper a:link {
    text-decoration: none;
}
#wp #logo-wrapper a:hover {
    text-decoration: underline;
}
#wp #logo-wrapper .hr {
    border-top: 2px solid #12ace0;
}
#wp #logo-wrapper #logo {
    background-image: url(/cyber-map/logo-white.png);
    width: 240px;
    height: 69px;
    background-size: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
}
#wp #logo-wrapper #signup {
    padding-top: 10px;
    float: left;
    font-size: 42%}
#wp #logo-wrapper #signup a {
    color: white;
    z-index: 100;
}
#wp #logo-wrapper #signup a:hover {
    text-decoration: none;
}
#wp #logo-wrapper #share {
    border-top: 2px solid #12ace0;
    padding-top: 5px;
}
#wp #logo-wrapper #share ul li {
    float: left;
    list-style-type: none;
    padding-top: 10px;
    padding-right: 20px;
}
#wp #logo-wrapper #share #gplus {
    background-image: url(/cyber-map/gplus.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #twitter {
    background-image: url(/cyber-map/twitter.png);
    background-size: 100%;
    width: 32px;
    height: 32px;
}
#wp #logo-wrapper #share #facebook {
    background-image: url(/cyber-map/facebook.svg);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #logo-wrapper #share #linkedin {
    background-image: url(/cyber-map/linkedin.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
}
#wp #counter {
    font-weight: bold;
    width: 272.4px;
    height: 134px;
    position: fixed;
    right: 20px;
    top: 20px;
    text-align: right;
    text-transform: uppercase;
}
#wp #industries {
    width: 34%;
    height: 164px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.45);
}
#wp #al {
    left: 50%;
    margin-left: -260px;
    width: 520px;
    border-top: 2px solid #12ace0;
    height: 88.8px;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    top: 20px;
}
#wp #al #log {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-left: 20px;
    color: #0d81a7;
    text-transform: uppercase;
}
#wp #al #log div {
    font: 34% 'waub',  'arial';
    line-height: 100%;
    padding-bottom: 2px;
}
#wp #al #log .apt {
    color: #ff8300;
}
#wp #ogw {
    left: 20px;
}
#wp #tgw {
    left: 285px;
}
#wp #pb a {
    position: fixed;
    bottom: 186px;
    right: 20px;
    display: block;
    font-size: 50%}
#wp #pb a:link, #wp #pb a:visited {
    color: #12ace0;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    text-decoration: none;
}
#wp #pb a:hover {
    color: #0e88b1;
    text-decoration: underline;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
}
#wp .globe {
    width: 209px;
    height: 285px;
    position: fixed;
    bottom: 20px;
    text-transform: uppercase;
    text-align: right;
}
#wp .globe .targets, #wp .globe .origins {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    left: 5px;
}
#wp .globe #targetsGlobe, #wp .globe #originsGlobe {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 205px;
    height: 205px;
}
#wp .globe .disk {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 205px;
    height: 205px;
    border: 3px solid rgba(1, 89, 119, 0.33);
    background-color: transparent;
    background-image: -webkit-gradient(radial,  102.5px 102.5px,  0,  102.5px 102.5px,  102.5,  color-stop(66.66667%,  transparent),  color-stop(100%,  rgba(0, 0, 0, 0.51)));
    background-image: -webkit-radial-gradient(102.5px 102.5px,  transparent 68.33333px,  rgba(0, 0, 0, 0.51) 102.5px);
    background-image: -moz-radial-gradient(102.5px 102.5px,  transparent 68.33333px,  rgba(0, 0, 0, 0.51) 102.5px);
    background-image: -o-radial-gradient(102.5px 102.5px,  transparent 68.33333px,  rgba(0, 0, 0, 0.51) 102.5px);
    background-image: radial-gradient(102.5px 102.5px,  transparent 68.33333px, rgba(0, 0, 0, 0.51) 102.5px);
    -webkit-border-radius: 102.5px;
    -moz-border-radius: 102.5px;
    -ms-border-radius: 102.5px;
    -o-border-radius: 102.5px;
    border-radius: 102.5px;
}
#wp .btn {
    background-color: #d82435;
    ;
    color: #ffc8d2;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    -moz-box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    box-shadow: rgba(0, 0, 0, 0.92) 0px 5px 18px;
    text-shadow: #270307 0px 1px 1px;
    -webkit-transition-duration: 0.27s;
    -moz-transition-duration: 0.27s;
    -o-transition-duration: 0.27s;
    transition-duration: 0.27s;
    padding: 7px 12px;
}
#wp .btn:hover {
    color: #fff1f4;
    background-color: #810a17;
    -webkit-transition-duration: 0.57s;
    -moz-transition-duration: 0.57s;
    -o-transition-duration: 0.57s;
    transition-duration: 0.57s;
}
#wp #industry {
    padding-left: 54px;
    position: absolute;
    top: 0;
    right: 0;
    height: 46px;
    border-top: 2px solid #12ace0;
}
#wp #industry h1 {
    color: #fff;
    letter-spacing: 1px;
    font-size: 68%;
    position: relative;
    top: 15px;
}
#wp #industry .icon {
    width: 44px;
    height: 44px;
    top: -7px;
    left: -54px;
    position: absolute;
}
#wp #tr {
    position: fixed;
    top: 20px;
    right: 20px;
    text-transform: uppercase;
    text-align: right;
    width: 486px;
}
#wp #tr h2 {
    font-size: 60%;
    font-weight: lighter;
    padding-top: 62px;
}
#wp #tr h3 {
    font-size: 44%;
    font-weight: lighter;
}
#wp #tr #tlevel {
    width: 166px;
    position: absolute;
    right: 0;
    top: 123px;
}
#wp #tr #tlevel h4 {
    font-size: 38%;
    letter-spacing: 1px;
    font-weight: lighter;
    margin: 5px 0 0 -35px;
}
#wp #tr li {
    position: relative;
    margin-top: 1px;
    padding: 5px 4px 3px 10%;
    text-align: left;
    font-size: 44%;
    font-weight: normal;
    color: #09516a;
    border: 1px solid #053444;
    background-color: #031b23;
    -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 8px;
}
#wp #tr label {
    margin-right: 10%;
    font-weight: bold;
}
#wp #tr .fire {
    font-weight: bold;
}
#wp #tr #level1.fire {
    color: #fff;
    background-color: #c71c2d;
    border: 1px solid #c71c2d;
}
#wp #tr #level2.fire {
    color: #fff4ef;
    background-color: #c95b31;
    border: 1px solid #c95b31;
}
#wp #tr #level3.fire {
    color: #6a0914;
    background-color: #ecab4e;
    border: 1px solid #ecab4e;
}
#wp #tr #level4.fire {
    color: #fff;
    background-color: #2994ae;
    border: 1px solid #2994ae;
}
#wp #tr #level5.fire {
    color: #015977;
    background-color: #8ecddd;
    border: 1px solid #8ecddd;
}
#wp #counter, #wp #title, #wp #tr, #wp #al, #wp #tmap, #wp #map, #wp #ogw, #wp #tgw, #wp #industries {
    display: block;
}
}